{% load staticfiles %}

<div class="submission">
  <div style="position: relative;">
    <img src="{% static 'img/tilttape.png' %}"
    style="
    position: absolute;
    float: right;
    top: 0px;
    left: -50px;
    " >
    {{ instance.text }}
    <div class="lips-about">
      <p>
        <strong>Lips: Expressions of Female* Sexuality</strong> was initially created as an assignment for an Introduction to Women’s Studies Class at The College of William and Mary. The zine asked women in their campus community to send stories, poetry, and artwork expressing their sexuality for the publication.
      <br><br>
        Lips served as an outlet where women* could express themselves honestly and openly. Its existence empowered those who contributed and even those who didn't. It created and claimed a space where female* voices were valid, valued, and, perhaps most importantly,  heard.
      <br><br>
        We believe that everyone deserves access to diverse and honest stories about female* sexuality. We believe that every female* deserves access to a space where her voice is allowed, acknowledged and valued. We're done with "taboo" and "inappropriate" and "improper." We're ready for real.
      <br><br>
        Lips provides a space for women* to share their experiences openly and honestly, as well as a space for everyone to enjoy and support empowering and authentic content.
      <br><br>
        Now the zine is digitizing into a new kind of social media platform to serve as an alternative to media publications and platforms that harm individuals self esteem and mental health, as well as marginalize honest, intelligent discourses of sexuality and the female* experience.
      <br><br>
      *What's with the asterisks? We recognize the gender binary as a social construct and welcome those all along the spectrum to join our community. Inclusion and acceptance are among our core values because diverse voices enrich our understanding and elevate the conversation, empowering and inspiring even more people. You go, girls!
      </p>
    </div>
  </div>

  <div style="position: relative;">
    <img src="{% static 'img/straighttape.png' %}"
    style="
    position: absolute;
    float: right;
    left: 480px;
    top: 0px;
    " >
  </div>
</div>
