{% load staticfiles %}

<div class="submission">
  <div style="position: relative;">
    <img src="{% static 'img/tilttape.png' %}"
    style="
    position: relative;
    float: right;
    top: 0px;
    left: -50px;
    " >
    <p>
      {{ instance.content }}
    </p>

  </div>
  <div class="upvote" style="position: relative;">
      <img src="{% static 'img/faintkiss.png' %}"
      style="
      position: relative;
      padding: 11px;
      float: clear;
      " >
      <span aria-hidden="true" id="upvote">{{ instance.upvoteCount }}</span>
  </div>
  <img src="{% static 'img/straighttape.png' %}"
  style="
  position: relative;
  float: center;
  " >
</div>
