{% load staticfiles %}

<div class="submission">
  <div style="position: relative;">
    <img src="{% static 'img/tilttape.png' %}"
    style="
    position: absolute;
    top: 20px;
    left: -50px;
    " >
    <p>
      {{ instance.content }}
    </p>
  </div>
  <div style="position: relative;">
    <img src="{% static 'img/faintkiss.png' %}"
    style="
    position: relative;
    padding: 11px;
    float: clear;
    " >
    <img src="{% static 'img/straighttape.png' %}"
    style="
    position: absolute;
    left: 480px;
    top: 12px;
    " >
  </div>
</div>
